# Created by .ignore support plugin (hsz.mobi)

# PhpStorm project files
.idea

# Composer files and vendors
/vendor
composer.lock

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~